<div class="col-sm-3">
    <div class="card" (click)="statusToggle()" [class.completed]="task.completed" *ngIf="task.show">
        <div class="card-block">
            <p>{{ task.content }}</p>
        </div>
        <div class="card-footer">
            <span *ngIf="!task.completed"><i class="fa fa-times" aria-hidden="true"></i>Not Complete</span>
            <span *ngIf="task.completed"><i class="fa fa-check" aria-hidden="true"></i>Completed</span>
        </div>
        <form>
            <button type="submit" (click)="hideCard()">Delete</button>
        </form>
    </div>
</div>